name: CI Quality Gate

on:
  push:
    branches: [ "main", "feat/*", "fix/*" ]
  pull_request:
    branches: [ "main" ] 

jobs:
  quality-check:
    name: Lint, Type Check & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      # Cek Tipe Data (TypeScript)
      # Kita perlu menambah script "type-check" di package.json nanti,
      # tapi untuk sekarang kita jalankan manual tsc
      - name: Run Type Check
        run: npx tsc --noEmit

      - name: Run Build Test
        run: npm run build